/* =============================★전체 공통 디자인★ */
#wrap {}
#wrap .container {
    background-size:cover;
    background-position:center;
    
}
#wrap .container .contents {
    max-width:1250px; min-width:320px;
    margin:0 auto; 
}
#wrap .container .main_title { /* 대제목 70스타일 */
    color:#fff; font-size:4.38rem;
    text-align:center; line-height:1.3; letter-spacing:-0.02rem;
}
#wrap .container h2 {
    font-size:3.44rem; font-weight:500; 
    letter-spacing:-0.01rem; line-height:1.2; color:#000;
 }
#wrap .container .main_title span {font-weight:700; font-size:4.38rem;}
#wrap .container .sponsor_btn {
    background:linear-gradient(90deg,#FE9300,#FF7300);
    color:#fff; border-radius:50px; padding:15px 70px;  
    font-size:2.13rem; line-height:1.2; font-weight:700;
}
#wrap .container .sponsor_btn:hover { /* 마우스올렸을때 변하는 (활성화) 상태선택자 */
    background:linear-gradient(-90deg,#FE9300,#FF7300);
}
#wrap .container .sponsor_btn img {
    width:32px; position:relative; top:3px;
}
#wrap .container .sponsor_q_btn {
    background-color:#050505; color:#fff;
    font-size:1.63rem; line-height:1.2;
    border-radius:30px; padding:10px 30px;
    display:flex; flex-flow:row nowrap;
    align-items:center;
}
#wrap .container .sponsor_q_btn:hover {box-shadow:0 0 5px rgba(255,255,255,0.3); }
#wrap .container .sponsor_q_btn img {width:24px;}
#wrap .container .sponsor_q_btn img:first-child{margin-right:10px;}
#wrap .container .sponsor_q_btn img:last-child{margin-left:10px}
/* ==============================1행 제목+후원 */
#wrap .bg1 {
    background-image:url(../images/bg1.png);
    background-position:center; /* 창크기조절에 따라 사진 중심을 변하지 않게 하기위해 */
    background-size:cover; /* 항상화면을채워라 */
    background-attachment:fixed; /* 기본값 scroll */
}
#wrap .bg1 .gradient {
    background:linear-gradient(transparent,rgba(0,0,0,0.6) 69%); 
    /* gradient를 사용할때는 background-color대신 background로만 씀 */
    /* background:linear-gradient(각도,색상,색상위치%) */
    /* 각도는 맨앞에 deg로 표현 / 색상 개수 제한 x */
}
#wrap .bg1 .gradient .contents {
    height:150vh; 
    /* (vh 높이설정시에만)자식이 커지면 부모도 커지니까 여기다 적어 vh(화면공간만큼 보여라) */
    display:flex; flex-flow:column nowrap;
    align-items:center; justify-content:center;
} 
#wrap .bg1 .gradient .contents > * {margin-bottom:100px;}
#wrap .bg1 .gradient .contents h1:nth-child(1) {
    width:89px;/* 대부분 자식들(블록인경우)은 부모의너비에 따라가기때문에 부모에다 너비를 주는게좋음 */
    align-self:flex-start;
} 
#wrap .bg1 .gradient .contents h1:nth-child(1) a {}
#wrap .bg1 .gradient .contents h1:nth-child(1) a img {width:100%;} /* 이미지는 인라인인 자식이기 때문에  부모 너비 따라가라고 따로 너비 적어줘야함 */
#wrap .bg1 .gradient .contents .main_title {}
#wrap .bg1 .gradient .contents .main_title span {}
#wrap .bg1 .gradient .contents .sponsor_btn {
    align-self:center;
}
#wrap .bg1 .gradient .contents .sponsor_btn img {}
#wrap .bg1 .gradient .contents .sponsor_q_btn {align-self:flex-end; margin:0;}
#wrap .bg1 .gradient .contents .sponsor_q_btn img {}
#wrap .bg1 .gradient .contents .sponsor_q_btn img:first-child {}
#wrap .bg1 .gradient .contents .sponsor_q_btn img:last-child {}
/* ==============================2행 퀴즈+참여 */
#wrap .bg2 {
    background-image:url(../images/quiz_bg.png);
    padding:150px 0;
}
#wrap .bg2 .contents {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; 
}
#wrap .bg2 .contents .quiz_contents {
}
#wrap .bg2 .contents .quiz_contents h2 {
    margin:0 0 38px 206px; color:#fff;
}
#wrap .bg2 .contents .quiz_contents p {
    font-size:1.25rem; line-height:1.7; color:#fff; margin-bottom:8px;
}
#wrap .bg2 .contents .quiz_contents form {
    display:flex; flex-flow:column nowrap;
}
#wrap .bg2 .contents .quiz_contents form label {
    height:34px; margin-bottom:14px; 
    display:flex; flex-flow:row nowrap; align-items:center;
}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz] {
}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz]+span {
    background-image:url(../images/퀴즈체크해제.png);
    /* background-image외 repeat,position,size 등 속성은 비활성화쪽에 작성 */
    background-repeat:no-repeat;
    background-position-y:4px;
    font-size:1.25rem; line-height:1.7; color:#fff;
    /* 이미지와 안겹치게 하는 속성 */ padding-left:48px; height:100%;
    
}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz]:checked+span { /* 활성화됐을떄 */
    background-image:url(../images/퀴즈체크.png);
}
#wrap .bg2 .contents .quiz_contents form .answer_btn {
    width:450px; padding:10px 0; border-radius:50px;
    color:#fff; background-color:#050505;
    font-size:1.25rem; line-height:1.7;
    margin-top:15px;
}
#wrap .bg2 .contents .quiz_contents form .answer_btn:hover {
    box-shadow:0 0 5px rgba(255,255,255,0.3); 
}
#wrap .bg2 .contents .quiz_status {
    width:500px; margin:57px 0;
}
#wrap .bg2 .contents .quiz_status img {width:500px;}
#wrap .bg2 .contents .quiz_status span {
    display:block; font-size:1.25rem; line-height:1.7; text-align:right;
     color:#fff; margin-top:20px;
}
/* ==============================3행 동영상 */
#wrap .bg3 {
    background-image:url(../images/video_bg.png);
    padding:200px 0;
}
#wrap .bg3 .contents {
    display:flex; flex-flow:column nowrap; align-items:center;

}
#wrap .bg3 .contents h2 { 
    color:#000; text-align:center;
}
#wrap .bg3 .contents iframe {
    max-width:900px; width:100%;
    margin:70px 0;
}
#wrap .bg3 .contents .sponsor_btn {}
/* ==============================4행 빙하50%감소 */
/* ==============================6행 지구전체위기 */
#wrap .bg4,
#wrap .bg6 {
    background-image:url(../images/50_bg.png);
    padding:200px 0;
}
#wrap .bg4 .contents,
#wrap .bg6 .contents {}
#wrap .bg4 .contents h2,
#wrap .bg6 .contents h2 {
    font-weight:500; font-size:3.44rem;  
    line-height:1.2; letter-spacing:-0.01rem; color:#fff;
}
#wrap .bg4 .contents h2 span,
#wrap .bg6 .contents h2 span {
    font-weight:500; font-size:3.44rem;  
    line-height:1.2; letter-spacing:-0.01rem; 
    color:#050505; background-color:#fff;
    display:inline-block; padding-bottom:5px;
}
#wrap .bg4 .contents h2+p,
#wrap .bg6 .contents h2+p {
    font-weight:700; font-size:2.13rem;  line-height:1.2;
    color:#fff;
}
#wrap .bg4 .contents .img,
#wrap .bg6 .contents .img {}
#wrap .bg4 .contents .img img,
#wrap .bg6 .contents .img img {width:100%;}
/* 개별 */
#wrap .bg4 .contents h2+p {margin:81px 0;}
#wrap .bg6 .contents h2+p {margin:58px 0;}
/* ====================================== */
/* ==============================5행 빙하 인류재앙3 */
#wrap .bg5 {
    background-color:#f5f5f5;
    padding:200px 0;
}
#wrap .bg5 .contents {text-align:center;}
#wrap .bg5 .contents h2 {margin-bottom:11px;}
#wrap .bg5 .contents > p {
    font-size:1.25rem; line-height:1.7;
    margin:55px 0; 
}
#wrap .bg5 .contents ul {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
#wrap .bg5 .contents ul li {
    width:calc((100% - (20px * 2)) / 3); 
}
#wrap .bg5 .contents ul li .title {
    position:relative; height:320px;
    background-size:cover;
    background-position:center 60%; /* background-image 들어갔을땐 size position 은 거의 필수 */
}
#wrap .bg5 .contents ul li:nth-child(1) .title {
    background-image:url(../images/28.png);
}
#wrap .bg5 .contents ul li:nth-child(2) .title {
    background-image:url(../images/27.png);
}
#wrap .bg5 .contents ul li:nth-child(3) .title {
    background-image: url(../images/wwf.jpg);
    background-size:cover;
}
#wrap .bg5 .contents ul li .title::after {
    content:''; display:block; position:absolute; left:0; top:0; width:100%; height:100%;
    background:linear-gradient(360deg, transparent,rgba(0, 0, 0, 0.8) 80%);
    z-index:300; 
    /* z-index는 형제끼리 쓸 수 있고 position속성이 포함되어 있어야하며
    위로 올라오고 싶은 것을 값을 더 크게 적기 */
}
#wrap .bg5 .contents ul li .title h3 {
    font-weight:700; font-size:2.69rem; line-height:1.2; color:#fff;
    z-index:400; position:relative; padding-top:48px;
}
#wrap .bg5 .contents ul li .title p {
    font-size:1.25rem; line-height:1.7; color:#fff;
    z-index:400; position:relative;
}
#wrap .bg5 .contents ul li .content {
    background-color:#fff;
    height:250px; font-size:1.25rem; line-height:1.7;
    padding:20px;
}
/* ==============================7행 WWF소개 */
#wrap .bg7 {
    background-image:url(../images/wwf.jpg);
    background-size:cover;
    background-position:center;
    padding:200px 0;
    position:relative;
}
#wrap .bg7::after {
    content:''; display:block; width:100%; height:100%; /* 부모랑 크기가 똑같아지라고 */ 
    position:absolute; /* 컨텐츠랑 겹쳐지라고 */ left:0; top:0; 
    z-index:10; /* 단위쓰면 안되고 숫자는 크기차이만 나게 아무숫자나 가능 (형제와써야함) */
    background-color:rgba(255,255,255,0.8);
}
#wrap .bg7 .contents {position:relative; z-index:20;}
#wrap .bg7 .contents .main_title {color:#000;}
#wrap .bg7 .contents p {
    font-size:2.13rem;  line-height:1.2; 
    margin:80px 0; text-align:center;
}
#wrap .bg7 .contents p:last-child {margin-bottom:0px;}
/* ==============================8행 다양한활동 */
#wrap .bg8 {
    background-color: #f5f5f5;
}
#wrap .bg8 .contents {
    padding-top:200px;
    padding-bottom:200px;
}
#wrap .bg8 .contents h2 {text-align:center; margin-bottom:83px;}
#wrap .bg8 .contents .activity {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
#wrap .bg8 .contents .activity li {
    width:calc((100% - 40px) / 2); /* 여백마진 따로 주지않고 위치조정하는법 */
}
#wrap .bg8 .contents .activity li:last-child,
#wrap .bg8 .contents .activity li .list1,
#wrap .bg8 .contents .activity li .list2 {
    background-size:cover;
    background-position:center;
    position:relative;
}
/* 배경 공통 선택자 */
#wrap .bg8 .contents .activity li:last-child {
    background-image:url(../images/50.png);
}
#wrap .bg8 .contents .activity li .list1 {
    background-image:url(../images/28.png); height:300px;
    margin-bottom:22px;
    background-position-y:40%;
}
#wrap .bg8 .contents .activity li .list2 {
    background-image:url(../images/wwf.jpg); height:300px;
}
#wrap .bg8 .contents .activity li .list1 .text,
#wrap .bg8 .contents .activity li .list2 .text {}
#wrap .bg8 .contents .activity li .list1 .text h3,
#wrap .bg8 .contents .activity li .list2 .text h3 {}
#wrap .bg8 .contents .activity li .list1 .text p,
#wrap .bg8 .contents .activity li .list2 .text p {}
/* 8행 li 공통 text 선택자 */
#wrap .bg8 .contents .activity li .text {
    background-color:rgba(5,5,5,0.5); /* #050505 */
    color:#fff;
    display:inline-block;/* block은 크기를 인식하고 inline은 내용만큼만 인식해라 */
    width:60%; /* 텍스트 크기에 따라 옆으로 점점 늘어나는 문제를 해결하기 위함 (%는 부모크기를 인식) */
    position:absolute; left:0; bottom:30px;
    padding:20px;
}
#wrap .bg8 .contents .activity li .text h3 {font-weight:700; font-size:2.13rem;  line-height:1.2; }
#wrap .bg8 .contents .activity li .text p {
    font-size:1.25rem; line-height:1.7; 
    margin-top:18px;
}
/* ==============================9행 감사선물 */
#wrap .bg9 {
    background-image:url(../images/50_bg.png);
    background-size:cover;
    background-position:center;
    padding:200px 0;
}
#wrap .bg9 .contents {}
#wrap .bg9 .contents .title {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:flex-end;
}
#wrap .bg9 .contents .title h2 {color:#fff;}
#wrap .bg9 .contents .title .sponsor_btn {}
#wrap .bg9 .contents .present_list {
    margin:69px 0; 
    display:flex; flex-flow:row nowrap; justify-content:space-between;
    
}
#wrap .bg9 .contents .present_list li {
    width:calc((100% - (45px * 2)) / 3); 
}
/* #wrap .bg9 .contents .present_list li:nth-child(1) {background-image:url(../images/freebie2.jpg);}
#wrap .bg9 .contents .present_list li:nth-child(2) {background-image:url(../images/freebie1.jpg);}
#wrap .bg9 .contents .present_list li:nth-child(3) {background-image:url(../images/freebie3.jpg);} */
#wrap .bg9 .contents .present_list li .text {
    margin-top:13px;
}
#wrap .bg9 .contents .present_list li::before {
content:''; display:block; width:100%; height:300px; 
background-size:cover; background-position:center;
}
#wrap .bg9 .contents .present_list li:first-child::before {background-image:url(../images/freebie2.jpg);}
#wrap .bg9 .contents .present_list li:nth-child(2)::before {background-image:url(../images/freebie1.jpg);}
#wrap .bg9 .contents .present_list li:last-child::before {background-image:url(../images/freebie3.jpg);}
#wrap .bg9 .contents .present_list li .text p {
    color:#fff; font-size:1.25rem; line-height:1.7;  text-align:center;
}
#wrap .bg9 .contents .present_list li .text p:last-child {}
#wrap .bg9 .contents .benefit {
    background-color:#fff;  font-size:1.25rem; line-height:1.7;
    display:inline-block;
    float:right;
}
/* ==============================10행 안내사항 */
#wrap .bg10 {background-color:#e4e5ea; padding:100px 0;}
#wrap .bg10 .contents {}
#wrap .bg10 .contents h3 {font-weight:700; font-size:2.13rem;  line-height:1.2;}
#wrap .bg10 .contents ul {}
#wrap .bg10 .contents ul li {font-size:1.25rem; line-height:1.7;}